--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0 (Debian 16.0-1.pgdg120+1)
-- Dumped by pg_dump version 16.0 (Debian 16.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: qubytss_core; Type: SCHEMA; Schema: -; Owner: qubytss_core
--

CREATE SCHEMA qubytss_core;


ALTER SCHEMA qubytss_core OWNER TO qubytss_core;

--
-- Name: qubytss_rrhh; Type: SCHEMA; Schema: -; Owner: qubytss_rrhh
--

CREATE SCHEMA qubytss_rrhh;


ALTER SCHEMA qubytss_rrhh OWNER TO qubytss_rrhh;

--
-- Name: get_next_correlativo(character varying); Type: FUNCTION; Schema: qubytss_core; Owner: qubytss_core
--

CREATE FUNCTION qubytss_core.get_next_correlativo(keycorr character varying) RETURNS bigint
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$
DECLARE
   value bigint;
begin
   SELECT MAX(last_corr)
     INTO value
     FROM qubytss_core.correlativo
    WHERE key_corr = keycorr;

   IF value IS NULL THEN
        value = 1;
        INSERT INTO correlativo(key_corr, last_corr) VALUES(keycorr, value);
   ELSE
        value = value + 1;
        UPDATE correlativo SET
            last_corr = value
        WHERE key_corr = keycorr;
   END IF;

   RETURN value;
end;
$$;


ALTER FUNCTION qubytss_core.get_next_correlativo(keycorr character varying) OWNER TO qubytss_core;

--
-- Name: ejecutar_function(character varying, integer, integer, integer, integer, character varying, integer); Type: FUNCTION; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE FUNCTION qubytss_rrhh.ejecutar_function(namefunction character varying, idplanilla integer, idpersona integer, idcorrtrab integer, idconcepto integer, tipodesc character varying, idclasificador integer) RETURNS integer
    LANGUAGE plpgsql
    AS $_$
DECLARE
      v_resp    numeric(19,4);
      v_tipoplanilla integer;
      v_cantidad integer;
BEGIN

   EXECUTE 'SELECT '||namefunction||'($1,$2,$3,$4)'
   INTO v_resp
   USING  idplanilla, idpersona, idcorrtrab, idconcepto;

   IF idconcepto != 172 and idconcepto != 268 and idconcepto != 756 and idconcepto != 396
   THEN

       SELECT pl.id_tipo_planilla into v_tipoplanilla from planilla pl where pl.id_planilla = idplanilla;

       if v_tipoplanilla != 1 AND tipodesc != 'N'
       THEN

           SELECT COUNT(ptc.id_concepto) into v_cantidad
              FROM planilla_trabajador_concepto ptc
                   INNER JOIN planilla pl
                           ON ptc.id_planilla = pl.id_planilla
             WHERE ptc.id_persona = idpersona
                   AND ptc.id_corr_trab = idcorrtrab
                   AND ptc.id_concepto = idconcepto
                   AND pl.est_planilla != 0
                   AND pl.id_tipo_planilla = 1
                   AND pl.id_anio
                       || pl.id_mes = (SELECT plt.id_anio
                                              || plt.id_mes
                                         FROM planilla plt
                                        WHERE plt.id_planilla = idplanilla);

            IF v_cantidad > 0
            THEN
                v_resp := 0;
            END IF;

       END IF;

    END IF;

   IF v_resp > 0
   THEN

   WITH upsert AS (UPDATE planilla_trabajador_concepto SET monto_conc=v_resp WHERE id_planilla=idplanilla AND id_persona=idpersona AND id_corr_trab = idcorrtrab AND id_concepto = idconcepto RETURNING *)
    INSERT INTO planilla_trabajador_concepto (id_planilla,id_persona,id_corr_trab,id_concepto,monto_conc,tipo_conc_pla, id_clasificador) SELECT idplanilla, idpersona, idcorrtrab, idconcepto, v_resp, 2, idclasificador WHERE NOT EXISTS (SELECT * FROM upsert);

   ELSE

    DELETE FROM planilla_trabajador_concepto WHERE id_planilla=idplanilla AND id_persona=idpersona AND id_corr_trab = idcorrtrab AND id_concepto = idconcepto;

   END IF;

RETURN NULL;

END;
$_$;


ALTER FUNCTION qubytss_rrhh.ejecutar_function(namefunction character varying, idplanilla integer, idpersona integer, idcorrtrab integer, idconcepto integer, tipodesc character varying, idclasificador integer) OWNER TO qubytss_rrhh;

--
-- Name: get_aporte_19990(integer, integer, integer, integer); Type: FUNCTION; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE FUNCTION qubytss_rrhh.get_aporte_19990(idplanilla integer, idpersona integer, idcorrtrab integer, idconcepto integer) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
      v_num    numeric(19,2);
      r record;
BEGIN

SELECT ec.*
  INTO r
  FROM  qubytss_rrhh.entidad_comision ec
       INNER JOIN qubytss_rrhh.planilla pl
               ON ec.id_anio = pl.id_anio
                  AND ec.id_mes = pl.id_mes
                  AND ec.id_regimen = 44957
 WHERE EXISTS (SELECT id_corr_trab
                 FROM qubytss_rrhh.planilla_trabajador tr
                WHERE tr.id_persona = idpersona
                      AND tr.id_planilla = idplanilla
                      AND tr.id_corr_trab = idcorrtrab
                      AND tr.id_regimen_pension = ec.id_regimen
                      AND tr.id_regimen_pension_estado = 2601)
       AND pl.id_planilla = idplanilla;

SELECT ROUND(((ppc.monto_bruto_previsional) * r.aporte_obligatorio / 100 ),2)
       INTO
       v_num
  FROM qubytss_rrhh.vw_planilla_trabajador_resumen_calculado ppc
         WHERE ppc.id_persona = idpersona
               AND ppc.id_corr_trab = idcorrtrab
               AND ppc.id_planilla = idplanilla;

    RETURN v_num;
END;
$$;


ALTER FUNCTION qubytss_rrhh.get_aporte_19990(idplanilla integer, idpersona integer, idcorrtrab integer, idconcepto integer) OWNER TO qubytss_rrhh;

--
-- Name: get_aporte_20530(integer, integer, integer, integer); Type: FUNCTION; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE FUNCTION qubytss_rrhh.get_aporte_20530(idplanilla integer, idpersona integer, idcorrtrab integer, idconcepto integer) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
      v_num    numeric(19,2);
      r record;
BEGIN

SELECT ec.*
  INTO r
  FROM qubytss_rrhh.entidad_comision ec
       INNER JOIN qubytss_rrhh.planilla pl
               ON ec.id_anio = pl.id_anio
                  AND ec.id_mes = pl.id_mes
                  AND ec.id_regimen = 44958
 WHERE EXISTS (SELECT id_corr_trab
                 FROM qubytss_rrhh.planilla_trabajador tr
                WHERE tr.id_persona = idpersona
                      AND tr.id_planilla = idplanilla
                      AND tr.id_corr_trab = idcorrtrab
                      AND tr.id_regimen_pension = ec.id_regimen
                      AND tr.id_regimen_pension_estado = 2601)
       AND pl.id_planilla = idplanilla;

SELECT ROUND(( (ppc.monto_bruto_previsional) * r.aporte_obligatorio / 100 ),2)
       INTO
       v_num
  FROM qubytss_rrhh.vw_planilla_trabajador_resumen_calculado ppc
         WHERE ppc.id_persona = idpersona
               AND ppc.id_corr_trab = idcorrtrab
               AND ppc.id_planilla = idplanilla;

    RETURN v_num;
END;
$$;


ALTER FUNCTION qubytss_rrhh.get_aporte_20530(idplanilla integer, idpersona integer, idcorrtrab integer, idconcepto integer) OWNER TO qubytss_rrhh;

--
-- Name: get_cod_planilla(integer); Type: FUNCTION; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE FUNCTION qubytss_rrhh.get_cod_planilla(idplanilla integer) RETURNS character varying
    LANGUAGE plpgsql
    AS $$
DECLARE
      v_num    varchar;
      r record;
BEGIN

    SELECT pl.id_anio,
           pl.id_mes,
           pt.cod_tipo_pla,
           tt.cod_tipo_trabajador,
           'PL' AS prefijo
           INTO r
      FROM qubytss_rrhh.planilla pl
           INNER JOIN qubytss_rrhh.planilla_tipo pt
                   ON pl.id_tipo_planilla = pt.id_tipo_planilla
           INNER JOIN qubytss_rrhh.trabajador_tipo tt
                   ON pl.id_tipo_trabajador = tt.id_tipo_trabajador
     WHERE id_planilla = idplanilla;

     SELECT r.prefijo
       || r.id_anio
       || r.id_mes
       || r.cod_tipo_pla
       || r.cod_tipo_trabajador
       || lpad(qubytss_core.get_next_correlativo('PLANILLA.RRHH.'
                                                     || r.prefijo
                                                     || '.'
                                                     || r.id_anio
                                                     || '.'
                                                     || r.id_mes
                                                     || '.'
                                                     || r.cod_tipo_pla
                                                     || '.'
                                                     || r.cod_tipo_trabajador) :: text, 2, '0')
     INTO v_num;


    RETURN v_num;
END;
$$;


ALTER FUNCTION qubytss_rrhh.get_cod_planilla(idplanilla integer) OWNER TO qubytss_rrhh;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: anio; Type: TABLE; Schema: public; Owner: qubytss_core
--

CREATE TABLE public.anio (
    id_anio integer NOT NULL,
    cod_anio character varying(20) NOT NULL,
    nom_anio character varying(500),
    fech_ini_anio date,
    fech_fin_anio date,
    esta_anio character(1)
);


ALTER TABLE public.anio OWNER TO qubytss_core;

--
-- Name: TABLE anio; Type: COMMENT; Schema: public; Owner: qubytss_core
--

COMMENT ON TABLE public.anio IS 'Cat├ílogo de a├▒os';


--
-- Name: COLUMN anio.id_anio; Type: COMMENT; Schema: public; Owner: qubytss_core
--

COMMENT ON COLUMN public.anio.id_anio IS 'Identificador del a├▒o';


--
-- Name: COLUMN anio.cod_anio; Type: COMMENT; Schema: public; Owner: qubytss_core
--

COMMENT ON COLUMN public.anio.cod_anio IS 'C├│digo';


--
-- Name: COLUMN anio.nom_anio; Type: COMMENT; Schema: public; Owner: qubytss_core
--

COMMENT ON COLUMN public.anio.nom_anio IS 'Nombre del a├▒o';


--
-- Name: COLUMN anio.fech_ini_anio; Type: COMMENT; Schema: public; Owner: qubytss_core
--

COMMENT ON COLUMN public.anio.fech_ini_anio IS 'Fecha de inicio del a├▒o';


--
-- Name: COLUMN anio.fech_fin_anio; Type: COMMENT; Schema: public; Owner: qubytss_core
--

COMMENT ON COLUMN public.anio.fech_fin_anio IS 'Fecha de t├®rmino del a├▒o';


--
-- Name: COLUMN anio.esta_anio; Type: COMMENT; Schema: public; Owner: qubytss_core
--

COMMENT ON COLUMN public.anio.esta_anio IS 'Estado del a├▒o (A=Abierto, C=Cerrado)';


--
-- Name: anio; Type: TABLE; Schema: qubytss_core; Owner: qubytss_core
--

CREATE TABLE qubytss_core.anio (
    id_anio integer NOT NULL,
    cod_anio character varying(20) NOT NULL,
    nom_anio character varying(500),
    fech_ini_anio date,
    fech_fin_anio date,
    esta_anio character(1)
);


ALTER TABLE qubytss_core.anio OWNER TO qubytss_core;

--
-- Name: TABLE anio; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON TABLE qubytss_core.anio IS 'Cat├ílogo de a├▒os';


--
-- Name: COLUMN anio.id_anio; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.anio.id_anio IS 'Identificador del a├▒o';


--
-- Name: COLUMN anio.cod_anio; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.anio.cod_anio IS 'C├│digo';


--
-- Name: COLUMN anio.nom_anio; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.anio.nom_anio IS 'Nombre del a├▒o';


--
-- Name: COLUMN anio.fech_ini_anio; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.anio.fech_ini_anio IS 'Fecha de inicio del a├▒o';


--
-- Name: COLUMN anio.fech_fin_anio; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.anio.fech_fin_anio IS 'Fecha de t├®rmino del a├▒o';


--
-- Name: COLUMN anio.esta_anio; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.anio.esta_anio IS 'Estado del a├▒o (A=Abierto, C=Cerrado)';


--
-- Name: correlativo; Type: TABLE; Schema: qubytss_core; Owner: qubytss_core
--

CREATE TABLE qubytss_core.correlativo (
    key_corr character varying(100) NOT NULL,
    last_corr bigint
);


ALTER TABLE qubytss_core.correlativo OWNER TO qubytss_core;

--
-- Name: TABLE correlativo; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON TABLE qubytss_core.correlativo IS 'Correlativo de documentos';


--
-- Name: COLUMN correlativo.key_corr; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.correlativo.key_corr IS 'Clave del correlativo';


--
-- Name: COLUMN correlativo.last_corr; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.correlativo.last_corr IS 'Ultimo valor generado';


--
-- Name: id_persona_seq; Type: SEQUENCE; Schema: qubytss_core; Owner: qubytss_core
--

CREATE SEQUENCE qubytss_core.id_persona_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 99999
    CACHE 1;


ALTER SEQUENCE qubytss_core.id_persona_seq OWNER TO qubytss_core;

--
-- Name: list; Type: TABLE; Schema: qubytss_core; Owner: qubytss_core
--

CREATE TABLE qubytss_core.list (
    id_lista integer NOT NULL,
    entidad character varying(30),
    cod_lista character varying(30),
    desc_lista character varying(300),
    estado_lista integer NOT NULL
);


ALTER TABLE qubytss_core.list OWNER TO qubytss_core;

--
-- Name: mes; Type: TABLE; Schema: qubytss_core; Owner: qubytss_core
--

CREATE TABLE qubytss_core.mes (
    id_mes character varying(2) NOT NULL,
    nomb_mes character varying(10),
    nomb_cort_mes character varying(4)
);


ALTER TABLE qubytss_core.mes OWNER TO qubytss_core;

--
-- Name: persona; Type: TABLE; Schema: qubytss_core; Owner: qubytss_core
--

CREATE TABLE qubytss_core.persona (
    id_persona integer DEFAULT nextval('qubytss_core.id_persona_seq'::regclass) NOT NULL,
    tipo_per character(1) NOT NULL,
    tipo_doc_per integer,
    nro_doc_per character varying(20),
    ape_pat_per character varying(100),
    ape_mat_per character varying(100),
    nomb_per character varying(200),
    direc_per character varying(500),
    sex_per character(1),
    fech_nac_per date,
    id_pais_nac integer,
    aud_fech_crea date DEFAULT now() NOT NULL,
    est_civil_per character(1),
    id_ubigeo_nac integer,
    nro_ruc character varying(11),
    id_pais_emisor_doc integer
);


ALTER TABLE qubytss_core.persona OWNER TO qubytss_core;

--
-- Name: COLUMN persona.tipo_per; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.persona.tipo_per IS 'Tipo de persona (N=Natural, J=Jur├¡dica)';


--
-- Name: COLUMN persona.tipo_doc_per; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.persona.tipo_doc_per IS 'Tipo de documento (LISTA[DOC-IDENTIDAD])';


--
-- Name: COLUMN persona.sex_per; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.persona.sex_per IS 'Tipo de persona (M=Masculino, F=Femenino)';


--
-- Name: COLUMN persona.id_pais_nac; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.persona.id_pais_nac IS 'Pa├¡s de nacimiento (LISTA[PAIS])';


--
-- Name: COLUMN persona.est_civil_per; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.persona.est_civil_per IS 'Estado civil (S=Soltero, C=Casado, V=Viudo, D=Divorciado)';


--
-- Name: COLUMN persona.id_pais_emisor_doc; Type: COMMENT; Schema: qubytss_core; Owner: qubytss_core
--

COMMENT ON COLUMN qubytss_core.persona.id_pais_emisor_doc IS 'Pa├¡s de nacimiento (LISTA[PAIS])';


--
-- Name: vw_persona; Type: VIEW; Schema: qubytss_core; Owner: qubytss_core
--

CREATE VIEW qubytss_core.vw_persona AS
 SELECT p.id_persona,
    p.tipo_per,
    p.tipo_doc_per,
    p.nro_doc_per,
    p.ape_pat_per,
    p.ape_mat_per,
    p.nomb_per,
    (((((COALESCE(p.ape_pat_per, ''::character varying))::text || ' '::text) || (COALESCE(p.ape_mat_per, ''::character varying))::text) || ', '::text) || (p.nomb_per)::text) AS full_name_per,
    p.direc_per,
    p.est_civil_per,
    p.sex_per,
    p.fech_nac_per,
    p.nro_ruc,
        CASE "substring"((COALESCE(p.nro_ruc, (''::bpchar)::character varying))::text, 1, 2)
            WHEN '20'::bpchar THEN 'S'::text
            ELSE 'N'::text
        END AS is_public,
    p.id_pais_nac,
    pa.desc_lista AS ds_pais_nac,
    p.id_ubigeo_nac,
    td.cod_lista AS nomb_tipo_doc_per,
    p.id_pais_emisor_doc
   FROM ((qubytss_core.persona p
     LEFT JOIN qubytss_core.list pa ON ((p.id_pais_nac = pa.id_lista)))
     LEFT JOIN qubytss_core.list td ON ((td.id_lista = p.tipo_doc_per)));


ALTER VIEW qubytss_core.vw_persona OWNER TO qubytss_core;

--
-- Name: concepto; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.concepto (
    id_concepto integer NOT NULL,
    cod_conc character varying(10) NOT NULL,
    nomb_conc character varying(300),
    tipo_conc integer,
    fech_reg_conc date,
    id_sub_tipo_conc integer,
    afecto_essalud boolean,
    afecto_previsional boolean,
    afecto_impuesto boolean,
    bonif_ext boolean,
    est_conc integer
);


ALTER TABLE qubytss_rrhh.concepto OWNER TO qubytss_rrhh;

--
-- Name: TABLE concepto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON TABLE qubytss_rrhh.concepto IS 'Concepto';


--
-- Name: COLUMN concepto.id_concepto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.id_concepto IS 'C├│digo ├║nico del concepto';


--
-- Name: COLUMN concepto.cod_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.cod_conc IS 'C├│digo del concepto';


--
-- Name: COLUMN concepto.nomb_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.nomb_conc IS 'Nombre';


--
-- Name: COLUMN concepto.tipo_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.tipo_conc IS 'Tipo (1=REMUNERACION, 2=DESCUENTO, 3=REINTEGRO, 4=APORTE)';


--
-- Name: COLUMN concepto.fech_reg_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.fech_reg_conc IS 'Fecha de registro';


--
-- Name: COLUMN concepto.id_sub_tipo_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.id_sub_tipo_conc IS 'Sub tipo de concepto (bytsscom_bytcore.lista(SUB-TIPO-CONCEPTO))';


--
-- Name: COLUMN concepto.afecto_essalud; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.afecto_essalud IS 'Afecto essalud (1=SI, 0=NO)';


--
-- Name: COLUMN concepto.afecto_previsional; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.afecto_previsional IS 'Afecto previsional (1=SI, 0=NO)';


--
-- Name: COLUMN concepto.afecto_impuesto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.afecto_impuesto IS 'Afecto impuesto (1=SI, 0=NO)';


--
-- Name: COLUMN concepto.est_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.concepto.est_conc IS 'Estado del concepto (1=Activo, 0=Inactivo)';


--
-- Name: entidad_comision; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.entidad_comision (
    id_anio integer NOT NULL,
    id_mes character varying(2) NOT NULL,
    id_regimen integer NOT NULL,
    comision_flujo numeric(5,2),
    comision_mixta_flujo numeric(5,2),
    comision_mixta_saldo numeric(5,2),
    prima_seguro numeric(5,2),
    aporte_obligatorio numeric(5,2),
    monto_maximo numeric(18,2),
    has_comision boolean
);


ALTER TABLE qubytss_rrhh.entidad_comision OWNER TO qubytss_rrhh;

--
-- Name: planilla; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.planilla (
    id_planilla integer NOT NULL,
    id_planilla_plantilla integer,
    id_tipo_planilla integer,
    id_tipo_trabajador integer,
    id_estado_personal_pla integer,
    id_clasificador integer,
    est_planilla integer,
    id_anio integer,
    id_mes character varying(2),
    num_planilla character varying(20),
    tit_planilla character varying(500),
    obs_planilla character varying(500),
    id_persona_registro integer,
    id_persona_proceso integer,
    id_persona_transf integer,
    id_persona_cierre integer,
    fech_cierre_pla timestamp without time zone,
    sys_fech_registro timestamp without time zone DEFAULT now(),
    fech_transf timestamp without time zone
);


ALTER TABLE qubytss_rrhh.planilla OWNER TO qubytss_rrhh;

--
-- Name: planilla_formula_plantilla; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.planilla_formula_plantilla (
    id_planilla_formula integer NOT NULL,
    nomb_form_pla character varying(100),
    desc_form_pla character varying(4000),
    tipo_calculo character(1),
    calc_form_pla character varying(1000),
    cod_form_pla character varying(20) NOT NULL,
    id_concepto_formula integer,
    est_form_pla integer,
    tipo_desc character(1)
);


ALTER TABLE qubytss_rrhh.planilla_formula_plantilla OWNER TO qubytss_rrhh;

--
-- Name: TABLE planilla_formula_plantilla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON TABLE qubytss_rrhh.planilla_formula_plantilla IS 'Plantilla de f├│rmulas para planillas';


--
-- Name: COLUMN planilla_formula_plantilla.id_planilla_formula; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_formula_plantilla.id_planilla_formula IS 'C├│digo ├║nico de f├│rmula de planilla';


--
-- Name: COLUMN planilla_formula_plantilla.nomb_form_pla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_formula_plantilla.nomb_form_pla IS 'Nombre de la f├│rmula';


--
-- Name: COLUMN planilla_formula_plantilla.desc_form_pla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_formula_plantilla.desc_form_pla IS 'Descripci├│n de la f├│rmula';


--
-- Name: COLUMN planilla_formula_plantilla.tipo_calculo; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_formula_plantilla.tipo_calculo IS 'Tipo de c├ílculo a realizar (M=Manual, C=Calculado, B=Base de Datos)';


--
-- Name: COLUMN planilla_formula_plantilla.calc_form_pla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_formula_plantilla.calc_form_pla IS 'Expresi├│n de la f├│rmula';


--
-- Name: COLUMN planilla_formula_plantilla.cod_form_pla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_formula_plantilla.cod_form_pla IS 'C├│digo de la f├│rmula';


--
-- Name: COLUMN planilla_formula_plantilla.id_concepto_formula; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_formula_plantilla.id_concepto_formula IS 'C├│digo ├║nico del concepto a agregar en la planilla';


--
-- Name: planilla_plantilla; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.planilla_plantilla (
    id_planilla_plantilla integer NOT NULL,
    id_tipo_planilla integer,
    id_tipo_trabajador integer,
    id_estado_personal_pla integer,
    id_clasificador integer,
    est_plantilla integer,
    is_valido integer
);


ALTER TABLE qubytss_rrhh.planilla_plantilla OWNER TO qubytss_rrhh;

--
-- Name: TABLE planilla_plantilla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON TABLE qubytss_rrhh.planilla_plantilla IS 'Plantilla de planillas';


--
-- Name: COLUMN planilla_plantilla.id_planilla_plantilla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_plantilla.id_planilla_plantilla IS 'C├│digo ├║nico de plantilla de la planilla';


--
-- Name: COLUMN planilla_plantilla.id_tipo_planilla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_plantilla.id_tipo_planilla IS 'Tipo de planilla';


--
-- Name: COLUMN planilla_plantilla.id_tipo_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_plantilla.id_tipo_trabajador IS 'Tipo de trabajador';


--
-- Name: COLUMN planilla_plantilla.id_estado_personal_pla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_plantilla.id_estado_personal_pla IS 'Estado del trabajador en la planilla';


--
-- Name: COLUMN planilla_plantilla.id_clasificador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_plantilla.id_clasificador IS 'Clasificador';


--
-- Name: planilla_tipo; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.planilla_tipo (
    id_tipo_planilla integer NOT NULL,
    cod_tipo_pla character varying(10),
    nomb_tipo_pla character varying(100),
    est_tipo_pla integer
);


ALTER TABLE qubytss_rrhh.planilla_tipo OWNER TO qubytss_rrhh;

--
-- Name: planilla_trabajador; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.planilla_trabajador (
    id_planilla integer NOT NULL,
    id_persona integer NOT NULL,
    id_corr_trab integer NOT NULL,
    id_unidad integer,
    id_area integer,
    id_tipo_personal_pla integer,
    id_estado_personal_pla integer,
    id_condicion_pla integer,
    id_categoria_pla integer,
    id_cargo_laboral integer,
    id_regimen_salud integer,
    id_regimen_pension integer,
    id_regimen_pension_estado integer,
    fech_ingreso date,
    fech_cese date,
    declaracion_jurada character varying(200),
    tipo_pago character(1),
    id_banco integer,
    num_cuenta_banco character varying(30),
    cuspp character varying(15),
    num_regimen_salud character varying(20),
    situacion integer,
    observacion character varying(2000),
    id_sub_subvencion integer,
    is_monto_excedente numeric(20,4)
);


ALTER TABLE qubytss_rrhh.planilla_trabajador OWNER TO qubytss_rrhh;

--
-- Name: TABLE planilla_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON TABLE qubytss_rrhh.planilla_trabajador IS 'Trabajadores de la planilla';


--
-- Name: COLUMN planilla_trabajador.id_planilla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.id_planilla IS 'C├│digo ├║nico de la planilla';


--
-- Name: COLUMN planilla_trabajador.id_persona; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.id_persona IS 'C├│digo ├║nico de persona';


--
-- Name: COLUMN planilla_trabajador.id_corr_trab; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.id_corr_trab IS 'Correlativo de trabajador';


--
-- Name: COLUMN planilla_trabajador.id_unidad; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.id_unidad IS 'C├│digo ├║nico de la dependencia/facultad';


--
-- Name: COLUMN planilla_trabajador.id_area; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.id_area IS 'C├│digo ├║nico de la unidad';


--
-- Name: COLUMN planilla_trabajador.observacion; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.observacion IS 'Observaci├│n en planilla para el trabajador';


--
-- Name: COLUMN planilla_trabajador.id_sub_subvencion; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.id_sub_subvencion IS 'C├│digo sub subvencion de planilla subvencion';


--
-- Name: COLUMN planilla_trabajador.is_monto_excedente; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador.is_monto_excedente IS 'Monto excedente del trabajador por mes';


--
-- Name: planilla_trabajador_concepto; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.planilla_trabajador_concepto (
    id_planilla integer NOT NULL,
    id_persona integer NOT NULL,
    id_corr_trab integer NOT NULL,
    id_concepto integer NOT NULL,
    monto_conc numeric(20,4),
    tipo_conc_pla integer,
    id_registro integer,
    id_corr_fase integer,
    id_grupo integer,
    id_clasificador integer
);


ALTER TABLE qubytss_rrhh.planilla_trabajador_concepto OWNER TO qubytss_rrhh;

--
-- Name: TABLE planilla_trabajador_concepto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON TABLE qubytss_rrhh.planilla_trabajador_concepto IS 'Trabajadores de la planilla';


--
-- Name: COLUMN planilla_trabajador_concepto.id_planilla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador_concepto.id_planilla IS 'C├│digo ├║nico de la planilla';


--
-- Name: COLUMN planilla_trabajador_concepto.id_persona; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador_concepto.id_persona IS 'C├│digo ├║nico de persona';


--
-- Name: COLUMN planilla_trabajador_concepto.id_corr_trab; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador_concepto.id_corr_trab IS 'Correlativo de trabajador';


--
-- Name: COLUMN planilla_trabajador_concepto.id_concepto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador_concepto.id_concepto IS 'C├│digo ├║nico del concepto';


--
-- Name: COLUMN planilla_trabajador_concepto.monto_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador_concepto.monto_conc IS 'Monto del concepto';


--
-- Name: COLUMN planilla_trabajador_concepto.tipo_conc_pla; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.planilla_trabajador_concepto.tipo_conc_pla IS 'Tipo de concepto en la planilla (1=Manual, 2=Calculado)';


--
-- Name: trabajador; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.trabajador (
    id_persona integer NOT NULL,
    id_corr_trab integer NOT NULL,
    cod_trab character varying(10),
    estado_trabajador integer NOT NULL,
    id_tipo_trabajador integer,
    id_situacion_educativa integer,
    id_ocupacion integer,
    has_discapacidad boolean,
    id_condicion_laboral integer,
    renta_quinta_exo boolean,
    sujeto_a_regimen boolean,
    sujeto_a_jornada boolean,
    sujeto_a_horario boolean,
    periodo_remuneracion integer,
    situacion integer,
    id_situacion_especial integer,
    tipo_pago integer,
    id_tipo_cuent_banco integer,
    id_banco_sueldo integer,
    num_cuenta_banco_sueldo character varying(30),
    num_cuenta_banco_sueldo_cci character varying(30),
    id_banco_cts integer,
    num_cuenta_banco_cts character varying(30),
    fech_ingreso date,
    id_doc_ingreso integer,
    fech_doc_ingreso date,
    num_doc_ingreso character varying(30),
    mot_ingreso character varying(500),
    fech_registro_sis date,
    fech_salida date,
    id_motivo_salida integer,
    id_tipo_prestador integer,
    fech_ingreso_salud date,
    id_regimen_salud integer,
    num_regimen_salud character varying(20),
    id_entidad_salud integer,
    fech_ingreso_pension date,
    id_regimen_pension integer,
    id_regimen_pension_estado integer,
    cuspp character varying(15),
    is_cod_generado_sys boolean,
    id_persona_registro integer,
    id_filefoto integer
);


ALTER TABLE qubytss_rrhh.trabajador OWNER TO qubytss_rrhh;

--
-- Name: COLUMN trabajador.id_persona; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_persona IS 'C├│digo ├║nico de persona';


--
-- Name: COLUMN trabajador.id_corr_trab; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_corr_trab IS 'Correlativo de trabajador';


--
-- Name: COLUMN trabajador.cod_trab; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.cod_trab IS 'C├│digo del trabajador';


--
-- Name: COLUMN trabajador.estado_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.estado_trabajador IS 'Estado del trabajador (1 = Activo, 2 = Inactivo, etc.)';


--
-- Name: COLUMN trabajador.id_tipo_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_tipo_trabajador IS 'Identificador del tipo de trabajador (si es aplicable)';


--
-- Name: COLUMN trabajador.id_situacion_educativa; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_situacion_educativa IS 'Situaci├│n educativa del trabajador (bytsscom_bytcore.lista(SIT-EDUCATIVA))';


--
-- Name: COLUMN trabajador.id_ocupacion; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_ocupacion IS 'Ocupaci├│n del trabajador (bytsscom_bytcore.lista(OCUPACION))';


--
-- Name: COLUMN trabajador.has_discapacidad; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.has_discapacidad IS 'Discapacitado (1 = SI, 0 = NO)';


--
-- Name: COLUMN trabajador.id_condicion_laboral; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_condicion_laboral IS 'Condici├│n laboral / Tipo de contrato de trabajo (bytsscom_bytcore.lista(COND-LABORAL))';


--
-- Name: COLUMN trabajador.renta_quinta_exo; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.renta_quinta_exo IS 'Rentas de 5ta categor├¡a exoneradas (inciso e del art. 19 de la ley del impuesto a la renta) (1=SI, 0=NO)';


--
-- Name: COLUMN trabajador.sujeto_a_regimen; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.sujeto_a_regimen IS 'Sujeto a r├®gimen alternativo, acumulativo o at├¡pico de jornada de trabajo y descanso. (1=SI, 0=NO)';


--
-- Name: COLUMN trabajador.sujeto_a_jornada; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.sujeto_a_jornada IS 'Sujeto a jornada de trabajo m├íxima (1=SI, 0=NO)';


--
-- Name: COLUMN trabajador.sujeto_a_horario; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.sujeto_a_horario IS 'Sujeto a horario nocturno (1=SI, 0=NO)';


--
-- Name: COLUMN trabajador.periodo_remuneracion; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.periodo_remuneracion IS 'Periodo de remuneraci├│n (1=Mensual, 2=Quincenal, 3=Semanal, 4=Diaria, 5=Otros)';


--
-- Name: COLUMN trabajador.situacion; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.situacion IS 'Situaci├│n (0 = Baja, 1= Activo/Subsidiado, 2=Sin v├¡nculo laboral con conceptos pendiente de liquidar, 3=Suspensi├│n perfecta de labores)';


--
-- Name: COLUMN trabajador.id_situacion_especial; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_situacion_especial IS 'Situaci├│n especial del trabajador (bytsscom_bytcore.lista(SITUACION-ESPECIAL))';


--
-- Name: COLUMN trabajador.tipo_pago; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.tipo_pago IS 'Tipo de pago (1=Efectivo, 2=Dep├│sito en cuenta, 3=Otros)';


--
-- Name: COLUMN trabajador.id_tipo_cuent_banco; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_tipo_cuent_banco IS 'Identificador del tipo de cuenta bancaria';


--
-- Name: COLUMN trabajador.id_banco_sueldo; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_banco_sueldo IS 'C├│digo ├║nico del Banco para dep├│sito en cuenta (bytsscom_bytcore.lista(BANCO))';


--
-- Name: COLUMN trabajador.num_cuenta_banco_sueldo; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.num_cuenta_banco_sueldo IS 'N├║mero de cuenta del banco para dep├│sito en cuenta';


--
-- Name: COLUMN trabajador.num_cuenta_banco_sueldo_cci; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.num_cuenta_banco_sueldo_cci IS 'N├║mero de cuenta del banco para dep├│sito en cuenta en formato CCI';


--
-- Name: COLUMN trabajador.id_banco_cts; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_banco_cts IS 'C├│digo de banco para dep├│sito de la CTS (bytsscom_bytcore.lista(BANCO))';


--
-- Name: COLUMN trabajador.num_cuenta_banco_cts; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.num_cuenta_banco_cts IS 'N├║mero de cuenta del banco para el dep├│sito de la CTS';


--
-- Name: COLUMN trabajador.fech_ingreso; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.fech_ingreso IS 'Fecha de ingreso del trabajador';


--
-- Name: COLUMN trabajador.id_doc_ingreso; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_doc_ingreso IS 'Identificador del documento de ingreso';


--
-- Name: COLUMN trabajador.fech_doc_ingreso; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.fech_doc_ingreso IS 'Fecha del documento de ingreso';


--
-- Name: COLUMN trabajador.num_doc_ingreso; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.num_doc_ingreso IS 'N├║mero del documento de ingreso';


--
-- Name: COLUMN trabajador.mot_ingreso; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.mot_ingreso IS 'Motivo de ingreso del trabajador';


--
-- Name: COLUMN trabajador.fech_registro_sis; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.fech_registro_sis IS 'Fecha de registro en el sistema';


--
-- Name: COLUMN trabajador.fech_salida; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.fech_salida IS 'Fecha de salida del trabajador';


--
-- Name: COLUMN trabajador.id_motivo_salida; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_motivo_salida IS 'Motivo de salida del trabajador (bytsscom_bytcore.lista(MOTIVO-BAJA-PERSONAL))';


--
-- Name: COLUMN trabajador.id_tipo_prestador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_tipo_prestador IS 'Tipo de prestador de servicios (bytsscom_bytcore.lista(PRESTADOR-SERVICIOS))';


--
-- Name: COLUMN trabajador.fech_ingreso_salud; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.fech_ingreso_salud IS 'Fecha de inicio del r├®gimen de aseguramiento de salud';


--
-- Name: COLUMN trabajador.id_regimen_salud; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_regimen_salud IS 'R├®gimen de aseguramiento de salud (bytsscom_bytcore.lista(REGIMEN-SALUD))';


--
-- Name: COLUMN trabajador.num_regimen_salud; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.num_regimen_salud IS 'N├║mero de r├®gimen de aseguramiento de salud';


--
-- Name: COLUMN trabajador.id_entidad_salud; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_entidad_salud IS 'Identificador de la entidad prestadora de salud';


--
-- Name: COLUMN trabajador.fech_ingreso_pension; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.fech_ingreso_pension IS 'Fecha de ingreso al sistema de pensiones';


--
-- Name: COLUMN trabajador.id_regimen_pension; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_regimen_pension IS 'R├®gimen de pension (bytsscom_bytcore.lista(REGIMEN-PENSION))';


--
-- Name: COLUMN trabajador.id_regimen_pension_estado; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_regimen_pension_estado IS 'Estado del r├®gimen de pension';


--
-- Name: COLUMN trabajador.cuspp; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.cuspp IS 'C├│digo ├║nico de Identificaci├│n del Sistema Privado de Pensiones';


--
-- Name: COLUMN trabajador.is_cod_generado_sys; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.is_cod_generado_sys IS 'Indicador de si el c├│digo fue generado por el sistema';


--
-- Name: COLUMN trabajador.id_persona_registro; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_persona_registro IS 'Identificador de la persona que registr├│ al trabajador';


--
-- Name: COLUMN trabajador.id_filefoto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador.id_filefoto IS 'Identificador del archivo de la foto del trabajador';


--
-- Name: trabajador_concepto; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.trabajador_concepto (
    id_persona integer NOT NULL,
    id_corr_trab integer NOT NULL,
    id_concepto integer NOT NULL,
    monto_conc numeric(18,2)
);


ALTER TABLE qubytss_rrhh.trabajador_concepto OWNER TO qubytss_rrhh;

--
-- Name: TABLE trabajador_concepto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON TABLE qubytss_rrhh.trabajador_concepto IS 'Conceptos del trabajador';


--
-- Name: COLUMN trabajador_concepto.id_persona; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_concepto.id_persona IS 'C├│digo ├║nico de persona';


--
-- Name: COLUMN trabajador_concepto.id_corr_trab; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_concepto.id_corr_trab IS 'Correlativo de trabajador';


--
-- Name: COLUMN trabajador_concepto.id_concepto; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_concepto.id_concepto IS 'C├│digo ├║nico del concepto';


--
-- Name: COLUMN trabajador_concepto.monto_conc; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_concepto.monto_conc IS 'Monto del concepto';


--
-- Name: trabajador_tipo; Type: TABLE; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE TABLE qubytss_rrhh.trabajador_tipo (
    id_tipo_trabajador integer NOT NULL,
    cod_tipo_trabajador integer,
    desc_tipo_trabajador character varying(50),
    est_tipo_trabajador integer
);


ALTER TABLE qubytss_rrhh.trabajador_tipo OWNER TO qubytss_rrhh;

--
-- Name: COLUMN trabajador_tipo.id_tipo_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_tipo.id_tipo_trabajador IS 'C├│digo ├║nico del tipo de trabajador';


--
-- Name: COLUMN trabajador_tipo.cod_tipo_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_tipo.cod_tipo_trabajador IS 'C├│digo del tipo de trabajador';


--
-- Name: COLUMN trabajador_tipo.desc_tipo_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_tipo.desc_tipo_trabajador IS 'Descripci├│n del tipo de trabajador';


--
-- Name: COLUMN trabajador_tipo.est_tipo_trabajador; Type: COMMENT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COMMENT ON COLUMN qubytss_rrhh.trabajador_tipo.est_tipo_trabajador IS 'Estado (1=Activo, 0=Inactivo)';


--
-- Name: vw_planilla_trabajador_resumen_calculado; Type: VIEW; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE VIEW qubytss_rrhh.vw_planilla_trabajador_resumen_calculado AS
 SELECT ptc.id_planilla,
    pt.id_persona,
    pt.id_corr_trab,
    sum(
        CASE c.tipo_conc
            WHEN 1 THEN ptc.monto_conc
            WHEN 3 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_remuneracion,
    sum(
        CASE c.id_concepto
            WHEN 172 THEN ptc.monto_conc
            WHEN 268 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_tardanzas_faltas,
    sum(
        CASE c.tipo_conc
            WHEN 1 THEN
            CASE c.bonif_ext
                WHEN true THEN ptc.monto_conc
                ELSE (0)::numeric
            END
            WHEN 3 THEN
            CASE c.bonif_ext
                WHEN true THEN ptc.monto_conc
                ELSE (0)::numeric
            END
            ELSE (0)::numeric
        END) AS monto_bonificaciones,
    round(sum(
        CASE c.tipo_conc
            WHEN 1 THEN ptc.monto_conc
            WHEN 2 THEN
            CASE c.id_concepto
                WHEN 172 THEN (('-1'::integer)::numeric * ptc.monto_conc)
                WHEN 268 THEN (('-1'::integer)::numeric * ptc.monto_conc)
                ELSE (0)::numeric
            END
            WHEN 3 THEN ptc.monto_conc
            ELSE (0)::numeric
        END), 2) AS monto_bruto,
    sum(
        CASE c.id_concepto
            WHEN 396 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_cuarta,
    sum(
        CASE c.id_concepto
            WHEN 543 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_judicial,
    sum(
        CASE c.id_concepto
            WHEN 155 THEN ptc.monto_conc
            WHEN 528 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_onp,
    sum(
        CASE c.id_concepto
            WHEN 28 THEN ptc.monto_conc
            WHEN 333 THEN ptc.monto_conc
            WHEN 335 THEN ptc.monto_conc
            WHEN 626 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_afp,
    sum(
        CASE c.tipo_conc
            WHEN 2 THEN
            CASE c.id_concepto
                WHEN 172 THEN (0)::numeric
                WHEN 268 THEN (0)::numeric
                WHEN 396 THEN (0)::numeric
                WHEN 543 THEN (0)::numeric
                WHEN 155 THEN (0)::numeric
                WHEN 528 THEN (0)::numeric
                WHEN 28 THEN (0)::numeric
                WHEN 333 THEN (0)::numeric
                WHEN 335 THEN (0)::numeric
                WHEN 626 THEN (0)::numeric
                ELSE ptc.monto_conc
            END
            ELSE (0)::numeric
        END) AS monto_otro,
    round(sum(
        CASE c.tipo_conc
            WHEN 1 THEN ptc.monto_conc
            WHEN 2 THEN (('-1'::integer)::numeric * ptc.monto_conc)
            WHEN 3 THEN ptc.monto_conc
            WHEN 4 THEN
            CASE c.id_concepto
                WHEN 124 THEN (0)::numeric
                ELSE (('-1'::integer)::numeric * ptc.monto_conc)
            END
            ELSE (0)::numeric
        END), 2) AS monto_neto,
    sum(
        CASE c.id_concepto
            WHEN 124 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_essalud,
    round(sum(
        CASE c.tipo_conc
            WHEN 2 THEN ptc.monto_conc
            WHEN 4 THEN
            CASE c.id_concepto
                WHEN 124 THEN (0)::numeric
                ELSE ptc.monto_conc
            END
            ELSE (0)::numeric
        END), 2) AS monto_descuento,
    pt.id_unidad,
    pt.id_area,
    sum(
        CASE c.id_concepto
            WHEN 156 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_quinta,
    sum(
        CASE c.tipo_conc
            WHEN 3 THEN ptc.monto_conc
            ELSE (0)::numeric
        END) AS monto_reintegro,
    round(sum(
        CASE
            WHEN ((c.tipo_conc = 1) AND (c.afecto_essalud = true)) THEN ptc.monto_conc
            WHEN (c.tipo_conc = 2) THEN
            CASE
                WHEN (c.id_concepto = ANY (ARRAY[172, 268])) THEN (('-1'::integer)::numeric * ptc.monto_conc)
                ELSE (0)::numeric
            END
            WHEN ((c.tipo_conc = 3) AND (c.afecto_essalud = true)) THEN ptc.monto_conc
            ELSE (0)::numeric
        END), 2) AS monto_bruto_essalud,
    round(sum(
        CASE
            WHEN ((c.tipo_conc = 1) AND (c.afecto_previsional = true)) THEN ptc.monto_conc
            WHEN (c.tipo_conc = 2) THEN
            CASE
                WHEN (c.id_concepto = ANY (ARRAY[172, 268])) THEN (('-1'::integer)::numeric * ptc.monto_conc)
                ELSE (0)::numeric
            END
            WHEN ((c.tipo_conc = 3) AND (c.afecto_previsional = true)) THEN ptc.monto_conc
            ELSE (0)::numeric
        END), 2) AS monto_bruto_previsional,
    round(sum(
        CASE
            WHEN ((c.tipo_conc = 1) AND (c.afecto_impuesto = true)) THEN ptc.monto_conc
            WHEN (c.tipo_conc = 2) THEN
            CASE
                WHEN (c.id_concepto = ANY (ARRAY[172, 268])) THEN (('-1'::integer)::numeric * ptc.monto_conc)
                ELSE (0)::numeric
            END
            WHEN ((c.tipo_conc = 3) AND (c.afecto_impuesto = true)) THEN ptc.monto_conc
            ELSE (0)::numeric
        END), 2) AS monto_bruto_impuesto,
    round(sum(
        CASE
            WHEN (c.id_concepto = 308) THEN ptc.monto_conc
            ELSE (0)::numeric
        END), 2) AS monto_subvencion
   FROM ((qubytss_rrhh.planilla_trabajador_concepto ptc
     JOIN qubytss_rrhh.planilla_trabajador pt ON (((ptc.id_planilla = pt.id_planilla) AND (ptc.id_persona = pt.id_persona) AND (ptc.id_corr_trab = pt.id_corr_trab))))
     JOIN qubytss_rrhh.concepto c ON ((ptc.id_concepto = c.id_concepto)))
  GROUP BY ptc.id_planilla, pt.id_persona, pt.id_corr_trab, pt.id_unidad, pt.id_area;


ALTER VIEW qubytss_rrhh.vw_planilla_trabajador_resumen_calculado OWNER TO qubytss_rrhh;

--
-- Data for Name: anio; Type: TABLE DATA; Schema: public; Owner: qubytss_core
--

COPY public.anio (id_anio, cod_anio, nom_anio, fech_ini_anio, fech_fin_anio, esta_anio) FROM stdin;
\.


--
-- Data for Name: anio; Type: TABLE DATA; Schema: qubytss_core; Owner: qubytss_core
--



--
-- Data for Name: correlativo; Type: TABLE DATA; Schema: qubytss_core; Owner: qubytss_core
--

COPY qubytss_core.correlativo (key_corr, last_corr) FROM stdin;
PLANILLA.RRHH.PL.2012.4.03.3	82
PLANILLA.RRHH.PL.2024.02.01.2	2
PLANILLA.RRHH.PL.2016.8.04.4	39
PLANILLA.RRHH.PL.2024.02.01.1	7
PLANILLA.RRHH.PL.2024.02.03.3	7
PLANILLA.RRHH.PL.2024.04.01.2	11
PLANILLA.RRHH.PL.2024.03.01.2	15
PLANILLA.RRHH.PL.2024.04.01.1	9
\.


--
-- Data for Name: list; Type: TABLE DATA; Schema: qubytss_core; Owner: qubytss_core
--



--
-- Data for Name: mes; Type: TABLE DATA; Schema: qubytss_core; Owner: qubytss_core
--

COPY qubytss_core.mes (id_mes, nomb_mes, nomb_cort_mes) FROM stdin;
01	ENERO	ENE
02	FEBRERO	FEB
03	MARZO	MAR
04	ABRIL	ABR
05	MAYO	MAY
06	JUNIO	JUN
07	JULIO	JUL
08	AGOSTO	AGO
09	SETIEMBRE	SET
10	OCTUBRE	OCT
11	NOVIEMBRE	NOV
12	DICIEMBRE	DIC
\.


--
-- Data for Name: persona; Type: TABLE DATA; Schema: qubytss_core; Owner: qubytss_core
--



--
-- Data for Name: concepto; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--



--
-- Data for Name: entidad_comision; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--



--
-- Data for Name: planilla; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--



--
-- Data for Name: planilla_formula_plantilla; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--



--
-- Data for Name: planilla_plantilla; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COPY qubytss_rrhh.planilla_plantilla (id_planilla_plantilla, id_tipo_planilla, id_tipo_trabajador, id_estado_personal_pla, id_clasificador, est_plantilla, is_valido) FROM stdin;
\.


--
-- Data for Name: planilla_tipo; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COPY qubytss_rrhh.planilla_tipo (id_tipo_planilla, cod_tipo_pla, nomb_tipo_pla, est_tipo_pla) FROM stdin;
8	08	SUBVENCION	1
6	06	SUBSIDIOS	1
5	02	ESPECIAL	1
4	04	JUDICIAL	1
3	07	OCASIONAL	1
2	03	ADICIONAL	1
1	01	NORMAL	1
9	09	ESSALUD	1
\.


--
-- Data for Name: planilla_trabajador; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--



--
-- Data for Name: planilla_trabajador_concepto; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--



--
-- Data for Name: trabajador; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--



--
-- Data for Name: trabajador_concepto; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COPY qubytss_rrhh.trabajador_concepto (id_persona, id_corr_trab, id_concepto, monto_conc) FROM stdin;
6	3	483	1500.00
6	4	483	1500.00
6	2	483	1500.00
6	5	483	1500.00
6	6	483	1500.00
6	7	483	1500.00
45	1	483	1500.00
6	1	483	1500.00
48	1	483	1500.00
65	1	483	1500.00
73	1	483	1500.00
48	9	483	1500.00
48	7	483	1500.00
48	3	483	1500.00
48	6	483	1500.00
48	4	483	1500.00
48	8	483	1500.00
48	5	483	1500.00
48	2	483	1500.00
\.


--
-- Data for Name: trabajador_tipo; Type: TABLE DATA; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

COPY qubytss_rrhh.trabajador_tipo (id_tipo_trabajador, cod_tipo_trabajador, desc_tipo_trabajador, est_tipo_trabajador) FROM stdin;
0	0	SIN TIPO	1
6	6	DESIGNADO	1
4	4	ADM. PROF. DE LA SALUD	1
2	2	ADMINISTRATIVO	1
1	1	DOCENTE	1
7	7	DESIGNADO DOC. DEL MAGISTERIO	1
3	3	DOCENTE DEL MAGISTERIO	1
5	5	OBRERO	1
9	9	ADM. FUNCIONARIO PUBLICO	1
8	8	DOCENTE PREGRADO	1
\.


--
-- Name: id_persona_seq; Type: SEQUENCE SET; Schema: qubytss_core; Owner: qubytss_core
--

SELECT pg_catalog.setval('qubytss_core.id_persona_seq', 98, true);


--
-- Name: anio anio_pk; Type: CONSTRAINT; Schema: public; Owner: qubytss_core
--

ALTER TABLE ONLY public.anio
    ADD CONSTRAINT anio_pk PRIMARY KEY (id_anio);


--
-- Name: anio anio_pk; Type: CONSTRAINT; Schema: qubytss_core; Owner: qubytss_core
--

ALTER TABLE ONLY qubytss_core.anio
    ADD CONSTRAINT anio_pk PRIMARY KEY (id_anio);


--
-- Name: correlativo correlativo_pk; Type: CONSTRAINT; Schema: qubytss_core; Owner: qubytss_core
--

ALTER TABLE ONLY qubytss_core.correlativo
    ADD CONSTRAINT correlativo_pk PRIMARY KEY (key_corr);


--
-- Name: list lista_pk; Type: CONSTRAINT; Schema: qubytss_core; Owner: qubytss_core
--

ALTER TABLE ONLY qubytss_core.list
    ADD CONSTRAINT lista_pk PRIMARY KEY (id_lista);


--
-- Name: mes mes_pk; Type: CONSTRAINT; Schema: qubytss_core; Owner: qubytss_core
--

ALTER TABLE ONLY qubytss_core.mes
    ADD CONSTRAINT mes_pk PRIMARY KEY (id_mes);


--
-- Name: persona persona_pk; Type: CONSTRAINT; Schema: qubytss_core; Owner: qubytss_core
--

ALTER TABLE ONLY qubytss_core.persona
    ADD CONSTRAINT persona_pk PRIMARY KEY (id_persona);


--
-- Name: persona persona_uk01; Type: CONSTRAINT; Schema: qubytss_core; Owner: qubytss_core
--

ALTER TABLE ONLY qubytss_core.persona
    ADD CONSTRAINT persona_uk01 UNIQUE (tipo_doc_per, nro_doc_per);


--
-- Name: concepto concepto_cod_conc_key; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.concepto
    ADD CONSTRAINT concepto_cod_conc_key UNIQUE (cod_conc);


--
-- Name: concepto concepto_pk; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.concepto
    ADD CONSTRAINT concepto_pk PRIMARY KEY (id_concepto);


--
-- Name: entidad_comision entidad_comision_pkey; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.entidad_comision
    ADD CONSTRAINT entidad_comision_pkey PRIMARY KEY (id_anio, id_mes, id_regimen);


--
-- Name: planilla_formula_plantilla planilla_formula_plantilla_pkey; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.planilla_formula_plantilla
    ADD CONSTRAINT planilla_formula_plantilla_pkey PRIMARY KEY (id_planilla_formula);


--
-- Name: planilla_plantilla planilla_plantilla_pkey; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.planilla_plantilla
    ADD CONSTRAINT planilla_plantilla_pkey PRIMARY KEY (id_planilla_plantilla);


--
-- Name: planilla_tipo planilla_tipo_pkey; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.planilla_tipo
    ADD CONSTRAINT planilla_tipo_pkey PRIMARY KEY (id_tipo_planilla);


--
-- Name: planilla_trabajador_concepto planilla_trabajador_concepto_pk; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.planilla_trabajador_concepto
    ADD CONSTRAINT planilla_trabajador_concepto_pk PRIMARY KEY (id_planilla, id_persona, id_corr_trab, id_concepto);


--
-- Name: planilla_trabajador planilla_trabajador_pk; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.planilla_trabajador
    ADD CONSTRAINT planilla_trabajador_pk PRIMARY KEY (id_planilla, id_persona, id_corr_trab);


--
-- Name: trabajador_tipo tipo_trabajador_pk; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.trabajador_tipo
    ADD CONSTRAINT tipo_trabajador_pk PRIMARY KEY (id_tipo_trabajador);


--
-- Name: trabajador_concepto trabajador_concepto_pkey; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.trabajador_concepto
    ADD CONSTRAINT trabajador_concepto_pkey PRIMARY KEY (id_persona, id_corr_trab, id_concepto);


--
-- Name: trabajador trabajor_pk; Type: CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.trabajador
    ADD CONSTRAINT trabajor_pk PRIMARY KEY (id_persona, id_corr_trab);


--
-- Name: cod_form_pla_udx01; Type: INDEX; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE UNIQUE INDEX cod_form_pla_udx01 ON qubytss_rrhh.planilla_formula_plantilla USING btree (cod_form_pla);


--
-- Name: idx_cod_trab; Type: INDEX; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE UNIQUE INDEX idx_cod_trab ON qubytss_rrhh.trabajador USING btree (cod_trab) WHERE (cod_trab IS NOT NULL);


--
-- Name: planilla_plantilla_udx01; Type: INDEX; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

CREATE UNIQUE INDEX planilla_plantilla_udx01 ON qubytss_rrhh.planilla_plantilla USING btree (id_tipo_planilla, id_tipo_trabajador, id_estado_personal_pla, id_clasificador, est_plantilla) WHERE (is_valido = 1);


--
-- Name: persona persona_tipo_doc_per_fkey; Type: FK CONSTRAINT; Schema: qubytss_core; Owner: qubytss_core
--

ALTER TABLE ONLY qubytss_core.persona
    ADD CONSTRAINT persona_tipo_doc_per_fkey FOREIGN KEY (tipo_doc_per) REFERENCES qubytss_core.list(id_lista);


--
-- Name: concepto concepto_id_sub_tipo_conc_fkey; Type: FK CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.concepto
    ADD CONSTRAINT concepto_id_sub_tipo_conc_fkey FOREIGN KEY (id_sub_tipo_conc) REFERENCES qubytss_core.list(id_lista);


--
-- Name: entidad_comision entidad_comision_id_regimen_fkey; Type: FK CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.entidad_comision
    ADD CONSTRAINT entidad_comision_id_regimen_fkey FOREIGN KEY (id_regimen) REFERENCES qubytss_core.list(id_lista);


--
-- Name: concepto sup_tipo_conc_fkper; Type: FK CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.concepto
    ADD CONSTRAINT sup_tipo_conc_fkper FOREIGN KEY (id_sub_tipo_conc) REFERENCES qubytss_core.list(id_lista);


--
-- Name: trabajador_concepto trabajador_concepto_id_concepto_fkey; Type: FK CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.trabajador_concepto
    ADD CONSTRAINT trabajador_concepto_id_concepto_fkey FOREIGN KEY (id_concepto) REFERENCES qubytss_rrhh.concepto(id_concepto);


--
-- Name: trabajador_concepto trabajador_concepto_id_persona_fkey; Type: FK CONSTRAINT; Schema: qubytss_rrhh; Owner: qubytss_rrhh
--

ALTER TABLE ONLY qubytss_rrhh.trabajador_concepto
    ADD CONSTRAINT trabajador_concepto_id_persona_fkey FOREIGN KEY (id_persona, id_corr_trab) REFERENCES qubytss_rrhh.trabajador(id_persona, id_corr_trab);


--
-- PostgreSQL database dump complete
--

